@model IEnumerable<inmobiliariaVGM.Models.Contrato>

@{
    ViewData["Title"] = "Listado de Contratos";
}

<h1>Listado de Contratos</h1>

<p>
    <a asp-action="Create">Crear nuevo contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Inquilino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Inmueble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Inquilino)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id_Contrato}) |
                @Html.ActionLink("Detalles", "Details", new { id=item.Id_Contrato }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Contrato })
            </td>
        </tr>
}
    </tbody>
</table>
