@model IEnumerable<inmobiliariaVGM.Models.Pago>

@{
    ViewData["Title"] = "Listado de Pagos";
}

<h1>Listado de Pagos</h1>

<p>
    <a asp-action="Create">Realizar nuevo pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Contrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Contrato)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id=item.Id_Pago}) |
                @Html.ActionLink("Detalles", "Details", new {id=item.Id_Pago }) |
                @if(User.IsInRole("Administrador")){
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Pago })
                }               
            </td>
        </tr>
}
    </tbody>
</table>
